*
{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#root
{
  
  height:auto;
  width: 100%;
}

footer {
  position: absolute;
  color: #111;
  bottom: -211%;
  left: 45%;
}

@media only screen and (max-width:480px)
{
  footer {
    bottom: -387%;
    left: 26%;
  }
  *
  {
    scroll-behavior: smooth;
  }
}

